<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>home_servlet</servlet-name>
  	<display-name>home_servlet</display-name>
  	<description></description>
  	<servlet-class>com.project.home_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>login_servlet</servlet-name>
  	<display-name>login_servlet</display-name>
  	<description></description>
  	<servlet-class>com.project.login_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>display_servlet</servlet-name>
  	<display-name>display_servlet</display-name>
  	<description></description>
  	<servlet-class>com.project.display_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>student_login_servlet</servlet-name>
  	<display-name>student_login_servlet</display-name>
  	<description></description>
  	<servlet-class>com.project.student_login_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>new_student_register</servlet-name>
  	<display-name>new_student_register</display-name>
  	<description></description>
  	<servlet-class>com.project.new_student_register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>student_Update_servlet</servlet-name>
  	<display-name>student_Update_servlet</display-name>
  	<description></description>
  	<servlet-class>com.project.student_Update_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>student_delete_servlet</servlet-name>
  	<display-name>student_delete_servlet</display-name>
  	<description></description>
  	<servlet-class>com.project.student_delete_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>student_add_servlet</servlet-name>
  	<display-name>student_add_servlet</display-name>
  	<description></description>
  	<servlet-class>com.project.student_add_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>student_display_servlet</servlet-name>
  	<display-name>student_display_servlet</display-name>
  	<description></description>
  	<servlet-class>com.student.student_display_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>student_newregister_servlet</servlet-name>
  	<display-name>student_newregister_servlet</display-name>
  	<description></description>
  	<servlet-class>com.student.student_newregister_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Student_add_servlet</servlet-name>
  	<display-name>Student_add_servlet</display-name>
  	<description></description>
  	<servlet-class>com.student.Student_add_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Student_delete_servlet</servlet-name>
  	<display-name>Student_delete_servlet</display-name>
  	<description></description>
  	<servlet-class>com.student.Student_delete_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Student_login_servlet</servlet-name>
  	<display-name>Student_login_servlet</display-name>
  	<description></description>
  	<servlet-class>com.student.Student_login_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Student_Update_servlet</servlet-name>
  	<display-name>Student_Update_servlet</display-name>
  	<description></description>
  	<servlet-class>com.student.Student_Update_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Teacher_login_servlet</servlet-name>
  	<display-name>Teacher_login_servlet</display-name>
  	<description></description>
  	<servlet-class>com.teacher.Teacher_login_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Teacher_newregister_servlet</servlet-name>
  	<display-name>Teacher_newregister_servlet</display-name>
  	<description></description>
  	<servlet-class>com.teacher.Teacher_newregister_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Teacher_Update_Servlet</servlet-name>
  	<display-name>Teacher_Update_Servlet</display-name>
  	<description></description>
  	<servlet-class>com.teacher.Teacher_Update_Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Teacher_delete_servlet</servlet-name>
  	<display-name>Teacher_delete_servlet</display-name>
  	<description></description>
  	<servlet-class>com.teacher.Teacher_delete_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>home_servlet</servlet-name>
  	<url-pattern>/home_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>login_servlet</servlet-name>
  	<url-pattern>/login_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>display_servlet</servlet-name>
  	<url-pattern>/display_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>student_login_servlet</servlet-name>
  	<url-pattern>/student_login_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>new_student_register</servlet-name>
  	<url-pattern>/new_student_register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>student_Update_servlet</servlet-name>
  	<url-pattern>/student_Update_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>student_delete_servlet</servlet-name>
  	<url-pattern>/student_delete_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>student_add_servlet</servlet-name>
  	<url-pattern>/student_add_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>student_display_servlet</servlet-name>
  	<url-pattern>/student_display_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>student_newregister_servlet</servlet-name>
  	<url-pattern>/student_newregister_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Student_add_servlet</servlet-name>
  	<url-pattern>/Student_add_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Student_delete_servlet</servlet-name>
  	<url-pattern>/Student_delete_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Student_login_servlet</servlet-name>
  	<url-pattern>/Student_login_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Student_Update_servlet</servlet-name>
  	<url-pattern>/Student_Update_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Teacher_login_servlet</servlet-name>
  	<url-pattern>/Teacher_login_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Teacher_newregister_servlet</servlet-name>
  	<url-pattern>/Teacher_newregister_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Teacher_Update_Servlet</servlet-name>
  	<url-pattern>/Teacher_Update_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Teacher_delete_servlet</servlet-name>
  	<url-pattern>/Teacher_delete_servlet</url-pattern>
  </servlet-mapping>
</web-app>
